/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App{
  text-align: center;
  background-image: url('./home-bg.jpg');
  background-size: cover;
  background-position: top;
  position: fixed;
  min-width: 100%;
  min-height: 100%;

}





.text-box {
  position: absolute;
  top: 55%;
  left: 30%;
  transform: translate(-50%,-50%);
  text-align: center;
  
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;

}



.heading-primary-sub {
  display: block;
  font-size: 15px;
  font-weight: 700;
  animation: moveToRight 1s ease-out;
  margin-bottom: 60px;
  color: black;
  width: 40em;
  line-height: 2.6;

}

@keyframes moveTORight {
  0%{
      opacity: 0;
      transform: translate(-100px);

  }

  80%{
      transform: translate(10px);

  }

  100%{
      opacity: 1;
      transform: translate(0);

  }

}
@keyframes moveToRight {
  0%{
      opacity: 0;
      transform: translate(100px);

  }

  80%{
      transform: translate(-10px);

  }

  100%{
      opacity: 1;
      transform: translate(0);

  }
}

.btn-contanier{
  display: flex;
    flex-direction: row;
    justify-content: center;

}

.btn:link,
.btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 10px 40px;
  border-radius: 5px;
  transition: all 0.2s;
}

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0,0,0.2);

}
.btn:active {
  transform: translateY(1px);
  box-shadow: 5px 10px 8px rgba(0,0,0.2);
}

.btn-white {
  background-color: black;
  color: #fff;
  text-decoration: none;
  padding: 10px 40px;
  border-radius: 5px;
  transition: all 0.2s;
  margin: 10px;
}